<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Meal Journal</title>
  </head>
  <body>
    <h1>Welcome to your meal journal!</h1>
    <h2>A journal for tracking your macronutrients: protein, carbs, fats, and fiber content.</h2>
    <nav>
      <ul>
        <li>
          <a href="/meals">Browse Meals</a>
        </li>
      </ul>
    </nav>
  </body>

</html>
